<ngb-accordion class="accordion__main" [closeOthers]="true" activeIds="static-1">
  <ngb-panel id="static-1">
    <ng-template ngbPanelTitle>
      <h4 class="accordion__main--title">Posso utilizar as diárias em qualquer data do ano?</h4>
    </ng-template>
    <ng-template ngbPanelContent>
      <p class="accordion__main--description">Sim, qualquer final de semana, feriado ou férias.</p>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-2">
    <ng-template ngbPanelTitle>
      <h4 class="accordion__main--title">Tenho que utilizar as diárias de uma vez?</h4>
    </ng-template>
    <ng-template ngbPanelContent>
      <p class="accordion__main--description">Não, você pode utilizar fracionado, exemplo: 2 num final de semana, 3 em algum feriado e assim vai.</p>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-3">
    <ng-template ngbPanelTitle>
      <h4 class="accordion__main--title">Posso presentear alguém com essas diárias?</h4>
    </ng-template>
    <ng-template ngbPanelContent>
      <p class="accordion__main--description">Sim, pode ser repassada para terceiros.</p>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-4">
    <ng-template ngbPanelTitle>
      <h4 class="accordion__main--title">É para até quantas pessoas no apto?</h4>
    </ng-template>
    <ng-template ngbPanelContent>
      <p class="accordion__main--description">O apto é para até 4 pessoas.</p>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
