<footer class="section__footer">
  <div class="container">
    <img class="section__footer--logo" src="assets/img/hs-amor-de-verao.png">
  <p class="section__footer--copyright">© {{currentDate | date:'yyyy'}} - Todos os direitos reservados Hotel Solar</p>
  <p class="section__footer--development">Desenvolvido por: Jimmy Kedlyn</p>
  <div class="section__footer--socials">
    <a href="https://www.facebook.com/hotelsolarsalinas"><fa-icon [icon]="['fab', 'facebook']"></fa-icon></a>
    <a href="https://www.instagram.com/hotelsolar/"><fa-icon [icon]="['fab', 'instagram']"></fa-icon></a>
    <a href="https://www.youtube.com/channel/UC_AJlRcKcGvQ1uM_kD8O1ZQ"><fa-icon [icon]="['fab', 'youtube']"></fa-icon></a>
    <a href="mailton:reservas@hotelsolar.tur.br"><fa-icon [icon]="['fas', 'envelope']"></fa-icon></a>
  </div>
  </div>
</footer>
